<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <!-- 配置整合MyBatis过程 -->
    
    <!-- 1、配置数据库相关参数properties的属性：${url} -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    <!-- 2、配置数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置连接池属性 -->
        <property name="driverClass" value="${jdbc.driverClass}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        
        <!-- c3p0连接池的私有属性 -->
        <!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
        <property name="acquireIncrement" value="${c3p0.pool.size.acquireIncrement}" />
        <!--初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
        <property name="initialPoolSize" value="${c3p0.pool.size.initialPoolSize}" />
        <!-- 连接池中保留的最大连接数。Default: 15 -->
        <property name="maxPoolSize" value="${c3p0.pool.size.maxPoolSize}" />
        <!-- 连接池中保留的最小连接数。Default: 3 -->
        <property name="minPoolSize" value="${c3p0.pool.size.minPoolSize}" />
        <!-- 连接的最大空闲时间，60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="${c3p0.pool.size.maxIdleTime}" />
        <!-- JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。   
                        如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0 -->
        <property name="maxStatements" value="${c3p0.pool.size.maxStatements}" />
    </bean>
    

    <!-- 3、配置MyBatis的sqlSessionFactory，将Spring和MyBatis整合 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描mappers.xml文件 -->
        <!-- <property name="mapperLocations" value="classpath:mapper/*.xml" /> -->
        <property name="mapperLocations" value="classpath*:com/huatek/mapper/*.xml" />
        <!-- 扫描mybatis-config文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 扫描model包，使用别名，或者在mybatis-config中配置，二选一 -->
        <property name="typeAliasesPackage" value="com.huatek.model"></property>
    </bean>

    <!-- 4、DAO接口所在包名，spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.huatek.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- <property name="sqlSessionFactory" ref="sqlSessionFactory"></property> -->
    </bean>

</beans>